<div class="navigation">
  <div class="nav-brand">
    <i class="fa fa-video-camera"></i> Camera Map
  </div>
  <div class="nav-actions">
    <div class="nav-start">
      <a
        class="btn nav-action"
        target="_blank"
        href="https://github.com/Probeh/CameraMap/blob/root/docs/index.html"
      ><i class="fa fa-code"></i> <span class="btn-text">Api Docs</span></a>
    </div>
    <div class="nav-end">
      <a
        href="https://github.com/Probeh/CameraMap"
        target="_blank"
        class="btn nav-action"
        routerLink=""
      ><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>