<div
  #modalRef
  class="modal fade"
  id="camera-form"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title text-info">
          <i class="fa fa-{{this.formIcon}} m-2"></i> {{this.formTitle}}
        </h5>
        <button
          class="close"
          (click)="this.cancelForm()"
        >
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <ng-content></ng-content>
        </form>
      </div>
      <div class="modal-footer">
        <button
          (click)="this.submitForm()"
          [disabled]="formGroup.invalid"
          class="btn btn-sm btn-outline-info"
        >
          <i class="fa fa-save"></i> Save</button>
        <button
          (click)="this.cancelForm()"
          class="btn btn-sm btn-outline-danger"
        ><i class="fa fa-close"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>