<div class="content">
  <div class="content-header">
    <app-navbar></app-navbar>
  </div>
  <div class="content-body">
    <div class="content-panel">
      <app-camera-list [(currentCamera)]="this.currentCamera"></app-camera-list>
    </div>
    <div class="content-main">
      <app-camera-map [(currentCamera)]="this.currentCamera"></app-camera-map>
    </div>
    <div class="content-panel">
      <app-camera-events [currentCamera]="this.currentCamera"></app-camera-events>
    </div>
  </div>
</div>