<div class="content-card-primary">
  <div class="content-card-header">
    <div class="title">
      Active Events
    </div>
    <button
      class="btn btn-sm btn-outline-info"
      (click)="this.refreshEventList()"
    ><i class="fa fa-refresh"></i> Refresh</button>
  </div>
  <div class="content-card-body">
    <div class="list-group">
      <button
        *ngFor="let event of this.cameraEvents$ | async; let index = index"
        type="button"
        class="btn list-group-item list-group-item-action"
      ><i class="fa fa-flag"></i>
        <span>
          <strong>{{event.name}}</strong>
          <hr>
          {{camera.name}} Activity #{{event.id | number: '2.0'}}
        </span>
      </button>
    </div>
  </div>
</div>