/* You can add global styles to this file, and also import other style files */
// ======================================= //
@import "themes.scss";
// ======================================= //
html,
body {
  // ======================================= //
  margin: 0;
  padding: 0;
  // ======================================= //
  overflow-y: hidden;
  overflow-x: hidden;
  // ======================================= //
  font-family: $poppins;
  font-size: 14px;
  // ======================================= //
}
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content-header {
    height: 50px;
    max-height: 50px;
  }
  .content-body {
    display: flex;
    flex: auto;
    flex-direction: row;
    max-height: calc(100vh-50px);

    .content-main {
      flex: auto;
    }

    .content-panel {
      position: relative;
      width: 250px;
      background: $light;

      .content-card {
        .content-card-header {
          display: flex;
          padding: 0px 15px;
          align-items: center;
          height: 43px;
        }
        .content-card-body {
          max-height: calc(100vh - 143px);
          overflow-y: auto;
        }
      }
      .content-card-primary {
        @extend .content-card;
      }
      .content-card-footer {
        @extend .content-card;
        padding: 10px;
        max-height: 50px;
        position: absolute;
        width: 100%;
        bottom: 0%;
      }
    }
  }
}
.action-btn {
  border-color: $theme;
  color: darken($color: $theme, $amount: 10%);
  transition: ease-in-out 300ms;
}
.action-btn:hover {
  transition: ease-in-out 300ms;
  border-color: $theme;
  background: $theme;
  color: white;
}
.title {
  color: $secondary;
}
hr {
  margin: 5px 0px;
}
.list-group-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: $gray;
  .fa {
    padding: 7.5px;
    border-radius: 50%;
    border: 1px solid $secondary;
    color: $secondary;
    // margin-right: 7.5px;
    margin-right: 20px;
  }
}
